body {
  text-align: center;
}
.keyword-container {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
}

#category-header {
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  padding: 25px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

#coding,
#movies,
#locations {
  color: white;
  background-color: black;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
  border-radius: 25px;
  margin: 5px;
}

#coding:hover,
#movies:hover,
#locations:hover {
  background-image: url("media/bloody\ background.jpg");
}

#locations {
  margin-bottom: 30px;
}

.btn {
  color: white;
  background-color: black;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  padding: 26px;
  border-radius: 35px;
  margin: 15px;
  margin-top: 30px;
}

.btn:hover {
  background-image: url("media/bloody\ background.jpg");
}
/* HangMan */

img {
  margin-right: 190px;
  padding: 70px;
  height: 400px;
}
