body {
  text-align: center;
}
.keyword-container {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
}

#category-header {
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  padding: 25px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

#coding,
#movies,
#locations {
  color: white;
  background-color: black;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
  border-radius: 25px;
  margin: 5px;
}

#coding:hover,
#movies:hover,
#locations:hover {
  background-image: url("media/bloody\ background.jpg");
}

#locations {
  margin-bottom: 30px;
}

.btn {
  color: white;
  background-color: black;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  padding: 26px;
  border-radius: 35px;
  margin: 15px;
  margin-top: 30px;
}

.btn:hover {
  background-image: url("media/bloody\ background.jpg");
}
/* HangMan */

img {
  margin-right: 190px;
  padding: 70px;
  height: 400px;
}

.hangman-head {
  background-color: maroon;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  position: absolute;
  top: 15rem;
  left: 56.6rem;
}
.hangman-body {
  background-color: maroon;
  height: 160px;
  width: 20px;
  position: absolute;
  top: 19.5rem;
  left: 58.5rem;
  border-radius: 30px;
}

.hangman-left-arm {
  background-color: maroon;
  height: 59px;
  width: 15px;
  position: absolute;
  top: 20.4rem;
  left: 57.3rem;
  transform: rotate(35deg);
  border-radius: 30px;
}

.hangman-right-arm {
  background-color: maroon;
  height: 59px;
  width: 15px;
  position: absolute;
  top: 20.4rem;
  left: 60rem;
  transform: rotateZ(-35deg);
  border-radius: 30px;
}

.hangman-left-leg {
  background-color: maroon;
  height: 64px;
  width: 15px;
  position: absolute;
  top: 28.4rem;
  left: 57.5rem;
  transform: rotate(35deg);
  border-radius: 30px;
}
.hangman-right-leg {
  background-color: maroon;
  height: 64px;
  width: 15px;
  position: absolute;
  top: 28.4rem;
  left: 59.9rem;
  transform: rotateZ(-35deg);
  border-radius: 30px;
}

/* to rotate div: transform: rotate(#deg) */
/* left: rotate: 30deg */
/* right: rotate: z -30deg */
