body {
  margin: auto;
  text-align: center;
  padding: 150px;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 100px;
}

.codedby {
  padding: 50px;
  margin-top: 300px;
}
button {
  color: white;
  background-color: black;
  font-size: 31px;
  font-family: "Press Start 2P", cursive;
  padding: 30px;
  border-radius: 25px;
  margin-top: 70px;
}

button:hover {
  background-image: url("media/bloody\ background.jpg");
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

small {
  font-family: "Press Start 2P", cursive;
}
